<div id="user-login">
  <div class="card teal white-text">
    <div class="card-content">
      <span class="card-title">Login</span>
      <form action="/auth/login" method="post">
        <p>Username: <input type="text" name="user[username]" /></p>
        <p>Password: <input type="password" name="user[password]" /></p>
        <input type="submit" value="Log In" class="btn" />
      </form>
    </div>
  </div>
</div>
