<div class="row flow-text" id="menu-bar">
  <div class="col s3 offset">
      <a href="/playlists/new" class="light-green-text accent-3">Create Playlist</a>
    <div class="divider"></div>
      <div class="section">
        <a href="/playlists" class="light-green-text accent-3">Manage</a>
      </div>
  </div>




        <!-- <a href="/" ><div class="card blue  darken-4 ">

            <div class="card-content white-text">
              <span class="card-title">Favorite Playlists</span>
              <p>Click this card to look at your favorite playlists!</p>
            </div>

          </div></a>

          <a href="/lessons" ><div class="card blue  darken-4 ">
              <div class="card-content white-text">
                <span class="card-title">Manage lessons</span>
                <p>Click this card to create and manage your lessons!</p>
              </div>
            </div></a>

          </div>
  </a> -->
</div>
