    <div class="row">
      <div class="col s12 m10">
        <center><h2 class="header">Playlist.name</h2></center>
          <center><p class="text-grey darken-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p></center>
        <div class = 'card horizontal'>
          <div class = 'card-stacked'>
            <div class='card-content'>
              <h2><a href ="/dashboard" class="green-text accent-3">Lesson 2</a></h2>
              <p class='text-grey darken-2'>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <form action="#" class='checkbox'>
                <p>
                  <input type="checkbox" id="lesson1" />
                  <label for="lesson1">Completed</label>
                </p>
              </form>
            </div>
          </div>
        </div>
      <div>

        <div class = 'card horizontal'>
          <div class = 'card-stacked'>
            <div class='card-content'>
              <h2><a href ="/dashboard" class="green-text accent-3">Lesson 3</a></h2>
              <p class='text-grey darken-2'>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <form action="#" class='checkbox'>
                <p>
                  <input type="checkbox" id="lesson2"/>
                  <label for="lesson2">Completed</label>
                </p>
              </form>
            </div>
          </div>
        </div>
      <div>

        <div class = 'card horizontal'>
          <div class = 'card-stacked'>
            <div class='card-content'>
              <h2><a href ="/dashboard" class="green-text accent-3">Lesson 4</a></h2>
              <p class='text-grey darken-2'>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <form action="#" class='checkbox'>
                <p>
                  <input type="checkbox" id="lesson3"/>
                  <label for="lesson3">Completed</label>
                </p>
              </form>
            </div>
          </div>
        </div>
