<div class="" id="welcome-info">

<h1> Welcome to the Learning Playist!</h1>

<p> Are you a teacher looking to create lessons for students that want to learn how to code? Or perhaps you are student looking for a collections of resources to help you brush up on your language of choice, or start taking on a new one? Then this is the place for you!</p>

<h2>For Teachers</h2>
<ul>
  <li>Manage your students</li>
  <li>Put together tailored playlists for your students!</li>
  <li>Browse playists created by teachers to gather inspiration for your own playlists.
</ul>

<h2>For Students</h2>
  <ul>
    <li>Browse your lessons in the form of playlists created by your teacher</li>
    <li>Look through the playists of others to find lessons that your are interested in!
  </ul>
</div>
  <div id="user-login">
    <form class="" action="/login" method="post" id ="sign_in_form">
      <label for="">User name</label>
      <input type="text" name="user_input" id="user_name_input">
      <label for="">Enter your password</label>
      <input type="text" name="user_password" id="user_id_input">
      <button type="submit" name="user_login">Log in</button>
    </form>
  </div>
