
<div class="col s9">
    <div class="row">
      <div class="col 9">
        <h3>Here are the current lessons in the database:</h3>
        <% if @lessons.any? %>
        <ul>
          <% @lessons.each do |lesson| %>
          <a href ="/lessons/<%= lesson.id %>"><li> <%=lesson.title %> </li></a>
          <%end%>
        </ul>
        <%else%>
        <p>There are no lessons. Add them with the form below</p>
        <%end%>
      </div>
    </div>
  <%= erb(:_lesson_form) %>
  </div>
</div><!--end of row-->
