<h1>Create A Playlist</h1>
<div class="row">
  <form class="col s12">
    <div class="row">

      <div class="input-field col s12">
        <input placeholder="Enter Playlist Name" id="playlist_name" type="text" class="validate">
        <label for="playlist_name">Playlist Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input type="date" class="datepicker" name="due_date">
      </div>
    </div>

    <div class ='row'>
      <div class="input-field col s6">
        <input type="checkbox" id="private">
        <label for="private">Private Lesson</label>
      </div>
    </div>
    <button type='submit' class='btn btn-success'>Submit Playlist</button>
  </form>
</div>
