<h1>Update <%= @playlist.name %></h1>
<form action="/playlist/<%= @playlist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="playlist_name">Update playlist name:</label>
  <input id="playlist_name" name="playlist_name" type="text">

  <button type="submit" class="btn btn-success">Update</button>
</form>


<form action="/<%= @playlist.id() %>" method="post"  id="delete-button">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-success">Delete Playlist</button>
</form>

<a href = '/'>Home</a>
