<% if @playlists.any? %>
<h1>Your Playlists: </h1>

<ul>
  <% @playlists.each do |playlist| %>
  <li><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a></li>
  <% end %>
</ul>
<% else %>
 <p>There are currently no playlists.  Use form below to make one! </p>
<%= erb(:_playlist_form) %>

<% end %>
