<nav  class="">

  <h1 class="brand-logo center"> Hello Student.name !</h1>

</nav>

<ul id="nav-bar" class="side-nav fixed">
  <a href="/" ><li><div class="card blue  darken-4 ">
      <div class="card-content white-text">
        <p>Click this card to create your own playlist of coding lessons!</p>
  </div></li></a></div>
  <a href="/" ><li><div class="card blue  darken-4 ">
      <div class="card-content white-text">
        <p>Click this card to create your own playlist of coding lessons!</p>
  <a href="/" ><li><div class="card blue  darken-4 ">
      <div class="card-content white-text">
        <p>Click this card to create your own playlist of coding lessons!</p>
  </div></li></a></div>
    <li>Your playlist</li>
    <li>Favorite playlist</li>
</ul>
