<nav  class="nav-wraper">

  <h1 class=" center"> Hello Student.name !</h1>

</nav>
 <div class="row">

  <div class="col s3">

    <a href="/playlists/new" >
      <div class="card blue  darken-4 ">
        <div class="card-content white-text">
          <span class="card-title">Create Playlist</span>
          <p>Click this card to create your own playlist of coding lessons!</p>
        </div>
      </div></a>

    <a href="/playlists">
      <div class="card blue  darken-4 ">
        <div class="card-content white-text">
          <span class="card-title">Your Playlists</span>
          <p>Click this card to view and manage your playlists of coding lessons!</p>
        </div>
      </div></a>
        <!-- <a href="/" ><div class="card blue  darken-4 ">

            <div class="card-content white-text">
              <span class="card-title">Favorite Playlists</span>
              <p>Click this card to look at your favorite playlists!</p>
            </div>

          </div></a>

          <a href="/dashboard/lessons" ><div class="card blue  darken-4 ">
              <div class="card-content white-text">
                <span class="card-title">Manage lessons</span>
                <p>Click this card to create and manage your lessons!</p>
              </div>
            </div></a>

          </div>
  </a> -->

</div>
<div class="col s9">
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

    <div class="row">


      <div class="col 9">
        <h2>Current playlist: Playlist.name</h2>

          <h4>Description </h4>
         <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </p>
              <h5>Lessons Within this playlist</h5>
        <ul>
          <li> <a href ="/dashboard">Lesson 2</li></a>
          <li> <a href ="/dashboard">Lesson 3</li></a>
          <li> <a href ="/dashboard">Lesson 4</li></a>
        </ul>
      </div>

</div>
      </div>
</div>


</div>
